# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

!build/Makefile
*.o
*.d
*.s
*.S
*.exe

# Flex and Bison
*.yy.c
*.tab.c

# OSX shit
.DS_Store
